# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results of an idecompile
[Aa][rR][mM]/
[Aa][rR][mM]64/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*

# Visual Studio
.vs/
*.vs/

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish profiles
*.pubxml
*.publishproj

# NuGet package restore
project.lock.json
project.fragment.lock.json
artifacts/
